.container{
    border: 2px solid black;
    width: 20rem;
    height: 14rem;
    text-align: center;
    margin-top: 60px;
    margin-left: 80px;
    box-shadow: 0px 1px 14px rgb(121, 119, 119);
    border-radius: 8px;
    background-color: rgb(142, 207, 207);
}
.container input{
    background-color: rgb(224, 228, 206);
    width: 15rem;
    height: 1.2rem;
    border-radius: 7px;
}
.container h3{
    color: rgb(54, 55, 56);
}
.container button{
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgba(7, 7, 14, 0);
    margin-top: 20px;
    color: rgb(2, 5, 59);
    background-color: rgb(225, 225, 156);
}
.container button:hover{
    background-color: rgb(20, 20, 227);
    color: bisque;
}